* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionListContainer {
  width: 80%;
  padding: 100px 0 0;
}
.questionListContainer .questionList .questionContainer {
  padding: 10px 0;
}
.questionListContainer .questionList .questionContainer .question .questionHeader {
  display: flex;
  align-items: flex-start;
}
.questionListContainer .questionList .questionContainer .question .questionHeader .questionContainerNumber {
  width: 60px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: tomato;
}
.questionListContainer .questionList .questionContainer .question .questionHeader .questionContainerNumber p {
  color: white;
  font-weight: 600;
}
.questionListContainer .questionList .questionContainer .question .questionHeader .questionTitle {
  border-bottom: #eae9e9 1px solid;
  width: 67%;
  padding: 0px 13px 12px;
}
.questionListContainer .questionList .questionContainer .question .questionHeader .questionTitle h3 {
  font-weight: 400;
  padding: 0 9px;
}
.questionListContainer .questionList .questionContainer .question .questionHeader .groupBtns {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
.questionListContainer .questionList .questionContainer .question .questionHeader .groupBtns button {
  background: none;
  width: 37px;
  height: 37px;
  border: none;
}
.questionListContainer .questionList .questionContainer .question .questionHeader .groupBtns button span {
  color: tomato;
  font-size: 32px;
}
.questionListContainer .questionList .questionContainer .question .questionBody {
  display: flex;
  justify-content: center;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList {
  width: 89%;
  padding: 12px 0;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem .numberAnswerContainer {
  width: 35px;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem .numberAnswerContainer .numberAnswer {
  width: 35px;
  height: 35px;
  border: solid 2px tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem .numberAnswerContainer .numberAnswer p {
  color: #ff3b00;
  font-family: sans-serif;
  font-weight: bold;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11px;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem .description .btnRemoveAndUpdate {
  display: none;
  padding: 0 11px;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem .description .btnRemoveAndUpdate button {
  border: none;
  background: none;
  color: tomato;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem:hover .numberAnswer {
  background: tomato;
  cursor: pointer;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem:hover .numberAnswer p {
  color: white;
}
.questionListContainer .questionList .questionContainer .question .questionBody .answerList .answerItem:hover .btnRemoveAndUpdate {
  display: flex;
}
.questionListContainer .questionList .questionContainer .question .containerBtn {
  height: 70px;
  display: flex;
  align-items: center;
  width: 69%;
}
.questionListContainer .questionList .questionContainer .question .containerBtn .groupBtns {
  WIDTH: 124PX;
  DISPLAY: FLEX;
  JUSTIFY-CONTENT: flex-end;
  BACKGROUND: NONE;
}
.questionListContainer .questionList .questionContainer .question .containerBtn .groupBtns button {
  background: none;
  color: tomato;
  width: 29%;
}
.questionListContainer .questionList .questionContainer .question .containerBtn button {
  width: 100px;
  height: 32px;
  background: tomato;
  color: white;
  border: none;
  font-weight: 600;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
